<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>

    </title>
    <!-- we can also write local.title because in javascript local is global variable -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- 
            our css should be below all other css so it is override.
         -->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="page-heading">
        <i class="fa fa-address-book"></i> My Contacts List
    </h1>
    <div id="contacts-list-container">
        <ul>
            <%for(let i of contact_list){%>
                <li class="contact">
                    <div class="details">
                        <p>
                            <%=i.name%>
                        </p>
                        <p>
                            <%=i.phone%>
                        </p>
                    </div>
                </li>
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%=i._id%>"><i class="fa fa-window-close"></i></a>
                    <!-- href="/delete-contact/<%=i.phone%>"><i class="fa fa-window-close"  for params -->
                </div>
                <%}%>
        </ul>
    </div>
    <form action="/createcontact" method="POST">
        <input type="text" name="name" placeholder="Enter name " required>
        <input type="number" name="phone" placeholder="Enter Phone " required>
        <button type="Submit">Add</button>
    </form>
    <script type="text/javascript " src="/js/home.js "></script>

</body>

</html>