<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
   <!-- <%- include('_header');%> -->
    <h1>Codieal / Profile Page</h1>
    <!-- <%- include('_footer');%>      now we can etch these frim layout -->
  

   <% if(user.id == profile_user.id){%>
    <!-- if user matches show the form alse show only profile info -->
    <form action="/users/update/<%=profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
   <%}else{%>
    <p><%=profile_user.name%></p>
    <p><%= profile_user.email%></p>
    <%} %>
    
</body>
</html>